VITE_SUPABASE_URL=https://taeqsdzdvpvhrzhuuavc.supabase.co
VITE_SUPABASE_ANON_KEY=YOUR_ANON_KEY
VITE_SUPABASE_AUTH_TABLE=userPreference
VITE_SUPABASE_AUTH_USERNAME_COLUMN=username
VITE_SUPABASE_AUTH_PASSWORD_COLUMN=password
VITE_SUPABASE_IDEAS_COLUMN=ideas
VITE_SUPABASE_SHARED_IDEAS_USERNAME=shared
